body {
    margin:0;
    padding:0;
    font-family: "DM Sans", serif;
    background-color: rgb(255, 255, 255);
    color: rgb(35, 35, 56);
}

header {
    background-image: url('images/howels.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(10, 10, 13);
}

a {

    text-decoration: none;
    color:inherit;
}

.active {
    color:rgb(255, 192, 56);
}

a:hover {
    color:rgb(255, 192, 56);
}

nav {
    color:rgb(255, 255, 255);
}

nav svg {
    fill:rgb(255, 255, 255);
    width:20px;
    height:20px;
}

nav svg:hover {
    fill:rgb(255, 192, 56);
}
.navcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 40px;
    
  
}

.leftnav {
    display:flex;
    align-items: center;
}

.leftnav .navigation {
    display:flex;
    list-style: none;
    gap:20px;
    font-size: 14px;
}

li {
    letter-spacing: 0.8px;
}


.leftnav h3  {

    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
}


main {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:80px;
    padding-bottom:40px;
}

main h1 {
    color:white;
    font-size: 65px;
    margin: 0;
    line-height: 65px;
    margin-bottom: 10px;
}
main img {
    
    width:300px;
    height:300px;
    margin: 0;
}

.maincontent {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.generalinfo , 
.rating {
    display:flex;
    align-items: center;
    color:white;
    gap:0px;
}

.about {
    margin-left: 14px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.description p {
    line-height: 20px;
    width:40%;
    color:white;
    font-weight: 300;
    line-height: 23px;
}

.rating i {
    font-size: 14px;
    color:rgb(255, 192, 56);
}

.age {
    padding:2px 5px 2px 5px;
    background-color: rgb(255, 192, 56);
    color:black;
    font-size:10px;
}

button {

    padding:15px 18px 15px 18px;
    background-color: rgb(255, 192, 56);
    color:black;
    font-size:12px;
    border:none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.6px;
}


button:hover {

    background-color: rgb(255, 166, 0);
}


.subtitle {
    font-style: italic;
    margin: 0;
    font-size: 18px;
}